<h1>Teste</h1>
<br>
<br>
<br><br>
<br><br><br><br><br>

<%= form_with model: @user, url: cadastro_path do |form|%>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :email, class:  "form-label text-light"%>
    <%= form.text_field :email, class: "form-control",  placeholder: "seuemail@gmail.com"%>
    <div id="emailhelp" class="form-text">we'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <%= form.label :password, class:  "form-label text-light"%>
    <%= form.password_field :password, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation, class:  "form-label text-light"%>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="examplecheck1">
    <label class="form-check-label" for="examplecheck1">check me out</label>
  </div>
  <div class="mb-3">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>